:host {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 24px;
}

h1 {
  font-size: 18px;
  text-align: center;
}

.content {
  display: flex;
  width: 100%;

  .block {
    padding: 24px;
    width: 100%;;
  }
}
